<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left; float: left; width: 20vw; border-right: 1px black solid; height: 100vh;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a routerLink="/heroes">
        Sign Up</a></h2>
    </li>
    <li>
      <h2><a routerLink="/docs">
          CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a routerLink="blogs">
          Angular blog</a></h2>
    </li>
    <li>
      <h2><a routerLink="/">
          Home</a></h2>
    </li>
  </ul>
</div>

<div style="float:right;width: 70vw; height:100vh">
  <router-outlet></router-outlet>
</div>
